.container {
    background: white;
    width: 70%;
    margin: 5% auto;
    box-shadow: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif; 
}
#meow-content {
    resize: none;
    border: 2px solid black;
    text-align: center;
}
body {
    background-attachment: fixed;
    background-image: url('beststripe.jpg');
    background-size: cover;
    font-family: helvetica, arial, sans-serif;
}
.banner {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 3em;
}
.meowBoxes {
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
    text-align: center;
}
.delete-meow {}
input {
    background: black;
    padding: 8px 15px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    width: 40%;
    min-width: 100px;

}
.hidden {
    display:none;
}
